@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap");

:root {
  --text-color: rgb(0, 0, 0, 0.5);
}

.App {
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
  margin-bottom: 50px;
}
.App .container {
  max-width: 450px;
}

.App footer {
  margin-bottom: 80px;
  font-size: 13px;
}
