.Search {
  margin-top: 80px;
}
.Search form {
  justify-content: center;
  margin-bottom: 15px;
}
.Search .pen {
  font-size: 35px;
  margin-right: 35px;
  cursor: pointer;
}
.Search .pen:hover {
  color: aliceblue;
}

.Weather {
  background-color: rgb(240, 248, 255);
  border-radius: 15px;
  margin-top: 10px;
}
.Weather h2 {
  font-size: 40px;
  color: var(--light-blue);
}
.Units .unit {
  position: relative;
  font-size: 18px;
  top: -15px;
  font-weight: bolder;
  color: var(--light-blue);
  text-decoration: none;
}
.unit a {
  color: var(--text-color);
  text-decoration: none;
}

.Weather .precipitation,
.wind,
.humidity {
  margin-bottom: 5px;
}
